{
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "parserOptions": {
        "ecmaVersion": "latest"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "plugins": ["@typescript-eslint", "functional", "prettier"],
      "extends": [
        "next",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:prettier/recommended",
        "plugin:functional/external-recommended",
        "plugin:functional/stylistic"
      ],
      "rules": {
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-empty-function": ["error", { "allow": ["constructors"] }],
        "@typescript-eslint/prefer-readonly-parameter-types": "off"
      }
    }
  ]
}
